body {
  background-color: rgb(213, 223, 232);
  margin-top: 0px;
}

nav {
  background-color: linear-gradient(to-right, to right, #ff7e5f, #feb47b);
  font-size: larger;
}

#nav1 {
  font-size: xx-large;
  padding-right: 10%;
}

.nav-items {
  font-size: larger;
}

#cover {
  height: 100vh;
  background-image: url("https://images.pexels.com/photos/1878293/pexels-photo-1878293.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#cover {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 10px;
}

.Introduction {
  margin-top: 30px;
  margin-left: 3px;
}

.Introduction h2 {
  text-align: center;
}

.Introduction p {
  text-align: justify;
  text-decoration: aliceblue;
  font-style: italic;
  margin: 10%;
  font-size: large;
  margin-top: 10px;
}

.showcase {
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 30px;
}
.card {
  margin-bottom: 5px;
}
.card-body {
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 8px;
  background-color: rgb(213, 223, 232);
}

#more-places {
  font-size: x-large;
  font-style: oblique;
  text-align: center;
  text-decoration: rgb(18, 43, 43);
}

.more-places {
  padding: 2%;
}

.extra-places h5 {
  color: rgb(176, 220, 74);
}

#footer {
  background-color: gray;
  padding-left: 5%;
}
