body {
  background-color: rgb(213, 223, 232);
  margin-top: 0px;
}

nav {
  background-color: linear-gradient(to-right, to right, #ff7e5f, #feb47b);
  font-size: larger;
  width: 100%;
}

#nav1 {
  font-size: xx-large;
  padding-right: 10%;
}

.nav-items {
  font-size: larger;
}

#cover {
  height: 100vh;
  background-image: url("https://images.pexels.com/photos/1878293/pexels-photo-1878293.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#cover {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 10px;
}

.Introduction {
  margin-top: 30px;
  margin-left: 3px;
}

.Introduction h2 {
  text-align: center;
}

.Introduction p {
  text-align: justify;
  text-decoration: aliceblue;
  font-style: italic;
  margin: 10%;
  font-size: large;
  margin-top: 10px;
}

.showcase {
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 30px;
}
.card {
  margin-bottom: 5px;
}
.card-body {
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 8px;
  background-color: rgb(213, 223, 232);
}

#more-places {
  font-size: x-large;
  font-style: oblique;
  text-align: center;
  text-decoration: rgb(18, 43, 43);
}

.more-places {
  padding: 2%;
}

.extra-places h5 {
  color: rgb(176, 220, 74);
}

#footer {
  background-color: gray;
  padding-left: 5%;
  width: 100%;
}

/* PLACES SECTION */

#cover-plac {
  height: 100vh;
  width: 100%;
  background-image: url("https://images.pexels.com/photos/1878293/pexels-photo-1878293.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.b-example-divider {
  width: 100%;
  height: 3rem;
  background-color: rgba(0, 0, 0, 0.1);
  border: solid rgba(0, 0, 0, 0.15);
  border-width: 1px 0;
  box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.1),
    inset 0 0.125em 0.5em rgba(0, 0, 0, 0.15);
}

.b-example-vr {
  flex-shrink: 0;
  width: 1.5rem;
  height: 100vh;
}

.bi {
  vertical-align: -0.125em;
  fill: currentColor;
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.btn-bd-primary {
  --bd-violet-bg: #712cf9;
  --bd-violet-rgb: 112.520718, 44.062154, 249.437846;

  --bs-btn-font-weight: 600;
  --bs-btn-color: var(--bs-white);
  --bs-btn-bg: var(--bd-violet-bg);
  --bs-btn-border-color: var(--bd-violet-bg);
  --bs-btn-hover-color: var(--bs-white);
  --bs-btn-hover-bg: #6528e0;
  --bs-btn-hover-border-color: #6528e0;
  --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
  --bs-btn-active-color: var(--bs-btn-hover-color);
  --bs-btn-active-bg: #5a23c8;
  --bs-btn-active-border-color: #5a23c8;
}

.bd-mode-toggle {
  z-index: 1500;
}

.bd-mode-toggle .dropdown-menu .active .bi {
  display: block !important;
}
